body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

img{
    width: 300px;
}

a {
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
    display: flex;
    padding: 25px; 
    margin: 10px;
    float: right;
}

.header, .header-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #1f2937;
}

.hero-text {
    color: white;
}

p {
    display: flex;
    flex-wrap: wrap;
}