body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}

img {
    width: 150px;
    display: inline-flex;
    padding: 50px;
}

a {
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
    display: inline-flex;
    padding: 50px; 
    margin: auto 100px;
    float: right;
}

button {
    flex-shrink: 0;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    background-color: #3882f6;
    color: white;
}

.header-content img {
    margin: auto 100px;
    float: right;
    width: 400px;
    height: 250px;
}



.header, .header-content {
    background-color: #1f2937;
    margin: 0;
}

.hero-text {
    color: white;
    font-size: 48px;
    font-weight: 900;
    width: 800px;
    float: right;
    align-items: center;

}

.header {
display: flex;
justify-content: space-between;
align-items: center;
}

p {
    flex-flow: row wrap;
    font-size: 18px;
}