body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

img {
    display: inline-flex;
    padding: 50px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    flex-shrink: 0;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    background-color: #3882f6;
    color: white;
}

p {
    font-size: 18px;
}
/*nav styling*/
.nav {
    padding: 10px;
    margin-left: 0 auto; 
}

.nav li {
    display: inline;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
}

/*header styling*/

.header, .header-content {
    background-color: #1f2937;
    margin: 0;
}
.header-content {
    display: flex;
    flex-flow: row reverse;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    }

/*image place holder*/

.header-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

/*hero text styling*/

.hero-text {
 
    color: white;
    font-size: 48px;
    font-weight: 900;
    width: 800px;
    float: right;
    align-items: center;
}


.main-content {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

/*image row styling*/

.img-row img {
    width: 150px;
    height: 150px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.img-text {
    text-align: center;
}

/*inspire or quote text area styling*/

.inspire {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
    width: 100%;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;

}

.inspire p, blockquote {
    text-align: left;
    font-size: 36px;
    font-weight: 200;
    width: 600px;
}

.cta {
    display: flex;
flex-flow: column wrap;
justify-content: center;
align-content: center;
margin: 0 auto;
background-color: #3882f6;
border-radius: 10px;
width: 800px;
height: auto;
color: white;
padding: 15px;

}

.cta p, .cta h2 {
    margin: 15px;

}

.cta button {
    border: solid;
    margin: 0 auto;
}
.footer {
    display: flex;
    padding: 10px;
    margin-top: 50px;
    background-color: #1f2937;
    justify-content: center;
    align-content: center;
    color: white;
}
